h1{
    font-size: 3rem;
    margin-bottom: 0%;
}
@media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }
#title > p{
    font-size: 2rem;
    margin-top: 0;
}
#main{
    background-color: #D3D3D3;
    text-align: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
#tribute-info
{
    text-align: center;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    
  }
  figure{
      background-color: white;
      padding-bottom: 20px;
  }
  li{
    margin: 10px 0 10px 0;

      
  }
  ul{
      
      
      
      list-style-position: inside;
      margin-right: 0;
      
  }
  #tribute-link{
    font-size: 2rem;
  }